$hue: 330;
$mdcss-text: #555;

main > section + section {
  margin-top: 4rem;
}

.markdown-body {
  font-family: system-ui, sans-serif;

  p {
    margin-bottom: 1.875rem;
    font-size: 1.25rem;
    font-weight: 300;
    color: $mdcss-text;
  }
}

.container {
  max-width: 100%;
  width: 100%;
}

.masthead {
  background-color: hsl($hue, 50%, 50%) !important;
}

.masthead-logo img {
  display: none;
}

.docs-layout {
  position: relative;

  .one-fourth {
    max-width: 20rem;
    position: sticky;
    top: 0;
    overflow: auto;
    box-sizing: border-box;
    padding-top: 1rem;
    padding-bottom: 2rem;
    max-height: 100vh;
  }
}

.docs-example {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  position: relative;
}

// .docs-iframe {
// }

// .docs-example:hover .docs-iframe {
// }

.docs-resize {
  width: 100%;
}

.docs-iframe {
  border: 0;
  height: auto;
  width: 100%;
}

.colors + pre {
  display: none;
}

.swatch {
  padding: 0.25em;
  margin: 0 0.3em 0.3em 0;
  word-break: break-all;
  word-wrap: break-word;
  overflow: hidden;
}

.color-property {
  font-size: 80%;
}

section[id*="grid-demo-"] + section[id*="grid-demo-"] {
  margin-top: 2px;
}

.menu-item[href*="grid-demo-"] {
  display: none;
}

.sparkle-grid-demo {
  grid-gap: 2px;
}

.sparkle-grid-demo [class*="-grid-cell-"] {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  $demo-color: map-values($colors);
  $color-1: nth($demo-color, 1);
  $color-2: nth($demo-color, 2);

  @for $i from 1 through grid(columns) {
    $mix-1: math.div($i, grid(columns)) * 100%;
    $mix-2: 100% - (math.div($i, grid(columns)) * 100%);

    &:nth-child(#{$i}) {
      $color: $color-1;
      @if math.div($i, 2) == math.ceil(math.div($i, 2)) {
        $color: mix($color-1, darken($color-2, 15%), $mix-1);
      } @else {
        $color: mix(lighten($color-2, 5%), $color-1, $mix-2);
      }

      background-color: $color;
    }
  }

  span {
    display: inline-block;
    padding: 0 4px;
    border-radius: 4px;
    background-color: white;
    color: black;
    font-size: 14px;
  }
}
