// This file generates the Sparkle Docs file
// The variable below, `$sparkle-show-docs`
// turns off and on the comments used to generate
// the Docs. If this variable is set to false, the
// docs will not generate.
$sparkle-show-docs: true;

/* Begin Sparkle Docs */

@if $sparkle-show-docs {
  /* ---
  section: Introduction
  order: -1
  ---
  The Sparkle Utility Framework is a customizable system of Sass tools and classes that is intended to work within the Inverted Triangle CSS (ITCSS) organization method. This site is a resource of the settings, tools, and utility classes available, including documentation about what each is, how to use them, and the CSS that they'll output.
  */

  /* ---
  section: Settings
  order: -1
  ---
  In the ITCSS method, settings are declared first and at the top of the Sass document. These contain all variables used throughout the tools and utilities. The settings inform what Tools, Systems, and Utilities are available in the framework. More details about settings setup can be found on the [Sparkle repo](https://github.com/sparkbox/sparkle).
  */
}

@import "../settings";

@if $sparkle-show-docs {
  /* ---
  section: Tools
  order: -1
  ---
  The second declaration of the ITCSS method are the tools. Tools are the Sass mixins and functions used throughout the framework.
  */
}

@import "../tools";
@import "mdcss";

@if $sparkle-show-docs {
  /* ---
  section: Systems
  order: -1
  ---
  Systems are not on their own part of the ITCSS organization, but instead are a collection of Settings, Tools, and Utilities. Systems are the most complex and customizable part of this framework. Each System usually has at least a Sass Function and Sass Map, while some generate Utility classes as well.
  */
}

@import "../globals/media-queries/docs";
@import "../systems";

@if $sparkle-show-docs {
  /* ---
  section: Utilities
  ---
  The final declaration of the ITCSS method are the utilities. Any additional styles should be declared between Tools and Utilities. The utilities are classes that have distinct purposes. Some of the Utilities are part of a System. Systems contain specific mixins, functions, and utility classes around a specific aspect of the framework, for example the Color and Spacing systems.
  */
}
@import "../utilities";

/* End Sparkle Docs */
