// Print Documentation Settings
// Set this to true in user settings
// to enable docs comment generation
$sparkle-show-docs: false !default;

// Sparkle User Settings
$settings: (
  'prefix': 'sparkle',
  'loop-mq': true,
  'print-classes': true,
  'system-color': true,
  'system-color-states': true,
  'system-grid': true,
  'system-spacing': true,
  'system-font-family': true,
  'system-font-size': true,
  'system-font-weight': true,
  'utility-margin': true,
  'utility-padding': true,
  'utility-position-spacing': true,
  'utility-background-color': true,
  'utility-border-color': true,
  'utility-border-style': true,
  'utility-border-width': true,
  'utility-border-position': true,
  'utility-foreground-color': true,
  'utility-outline-color': true,
  'utility-text-decoration-color': true,
  'utility-z-index': true,
  'utility-display': true,
  'utility-position': true,
  'utility-text-align': true,
  'utility-text-decoration': true,
  'utility-text-transform': true,
  'utility-visually-hidden': true,
  'utility-justify-content': true,
  'utility-align-items': true,
  'utility-align-self': true,
  'utility-order': true,
  'utility-flex-direction': true,
  'utility-flex-grow': true,
  'utility-flex-shrink': true,
  'utility-flex-wrap': true
) !default;
