// System Utilities
// Color System
@import "systems/color/docs";
@import "systems/color/foreground/utility";
@import "systems/color/background/utility";
@import "systems/color/border/utility";
@import "systems/color/outline/utility";
@import "systems/color/text-decoration/utility";

// Spacing System
@import "systems/spacing/docs";
@import "systems/spacing/margin/utility";
@import "systems/spacing/padding/utility";
@import "systems/spacing/position/utility";

// Font System
@import "systems/font/docs";
@import "systems/font/family/utility";
@import "systems/font/size/utility";
@import "systems/font/weight/utility";

// Grid System
@import "systems/grid/utility";

// Border Systems
@import "systems/border/utility";

// Z Index Systems
@import "systems/z-index/utility";
