.obj-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__header,
  &__footer {
    flex-shrink: 1;
  }

  &__content {
    flex-grow: 2;
    display: flex;
    width: 100%;
    align-items: stretch;
  }
}