.#{settings(utilPrefix)}-font {
    @each $key, $val in $fonts {
      &-family-#{$key} {
        font-family: $val;
      }
    }
  
    @each $key, $val in $weights {
      &-weight-#{$key} {
        font-weight: $val;
      }
    }
  
    @each $key, $val in $font-sizes {
      &-size-#{$key} {
        font-size: $val;
      }
    }
}