@import '../mixin';

@if settings('utility-text-decoration-color') {
  @if $sparkle-show-docs {
    /* ---
    section: Systems
    ---

    ### Text Decoration Color Utility Classes

    <table>
    <thead>
    <tr>
    <th></th>
    <th>Default Class</th>
    <th>`:hover` Class</th>
    <th>`:focus` Class</th>
    <th>`:active` Class</th>
    </tr>
    </thead>
    <tbody>
    */
  }

  @each $key, $val in $colors {
    @if $sparkle-show-docs {
      /* ---
      section: Systems
      ---
      <tr>
      <td><svg height="18" width="18" xmlns="http://www.w3.org/2000/svg"><path d="M0,0 0,18, 18,18 18,0z" fill="#{$val}" /></svg></td>
      <td>`.#{settings(prefix)}-decoration-color-#{$key}`</td>
      <td>`.#{settings(prefix)}-decoration-color-#{$key}:hover`</td>
      <td>`.#{settings(prefix)}-decoration-color-#{$key}:focus`</td>
      <td>`.#{settings(prefix)}-decoration-color-#{$key}:active`</td>
      </tr>
      */
    }
    .#{settings(prefix)}-decoration-color-#{$key} {
      @include sparkle-loop-states {
        text-decoration-color: $val;
      }
    }
  }

  @if $sparkle-show-docs {
    /* ---
    section: Systems
    ---

    </tbody>
    </table>
    */
  }
}
