/* ---
title: Delist Mixin
section: Tools

Removes default list styles.

**Use**
```scss
.my-class {
  @include delist;
}
```

**CSS Output**
```css
.my-class {
  margin: 0;
  padding: 0;
  list-style: none;
}
```

*/

@mixin delist {
  margin: 0;
  padding: 0;
  list-style: none;
}
