@import 'true';
$sparkle-show-docs: false;

@import 'mixin';

@include describe('The delist mixin') {
  @include it('outputs the properties of delist.') {
    @include assert {
      @include output {
        @include delist();
      }
      @include expect {
        margin: 0;
        padding: 0;
        list-style: none;
      }
    }
  }
}
