/* ---
title: Delist Utility
section: Utilities
---

Removes the list styles from ordered and unordered lists.

```scss
.#{settings(prefix)}-delist
```

*/
.#{settings(prefix)}-delist {
  @include delist;
}
