@if $sparkle-show-docs {
  /* ---
  title: Visually Hidden Mixin
  section: Tools
  ---

  Hides an element visually, but still accessible to screen readers.

  **Use**
  ```scss
  .my-class {
    @include visually-hidden;
  }
  ```

  **CSS Output**
  ```css
  .my-class {
    position: fixed;
    clip: rect(0, 0, 0, 0);
  }
  ```
  */
}

@mixin visually-hidden {
  position: fixed;
  right: 100%;
  bottom: 100%;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);

  &:focus {
    left: 0;
    right: auto;
    top: 0;
    bottom: auto;
  }
}
