@import 'true';
$sparkle-show-docs: false;

@import 'mixin';

@include describe('The visually-hidden mixin') {
  @include it('outputs the properties of visually hidden.') {
    @include assert {
      @include output {
        @include visually-hidden();
      }
      @include expect {
        position: fixed;
        clip: rect(0, 0, 0, 0);
      }
    }
  }
}
