@import 'true';
$sparkle-show-docs: false;

@import 'mixin';

@include describe('The visually-hidden mixin') {
  @include it('outputs the properties of visually hidden.') {
    @include assert {
      @include output {
        @include visually-hidden();
      }
      @include expect {
        position: fixed;
        right: 100%;
        bottom: 100%;
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);

        &:focus {
          left: 0;
          right: auto;
          top: 0;
          bottom: auto;
          clip: auto;
          clip-path: none;
        }
      }
    }
  }
}
