/* ---
title: Negative Function
section: Tools

Turns a positive number into a negative number. This comes in handy when a variable is passed in, so `-$value` becomes explicit `negative($value)`.

**Use**
```scss
.test-class {
  prop: negative(<number>);
}
```

**Use with a prop**
```scss
.test-class {
  margin: negative(1rem);
}
```

**CSS Output**
```css
.test-class {
  margin: -1rem;
}
```

*/

@function negative($value) {
  @if ($value > 0) {
    @return 0 - $value;
  }
}
