@mixin sparkle-border-spacing-sides($space, $side) {
  @if $side == 'all' {
    border: $space;
  } @else if $side == 'x-axis' {
    border-top: $space;
    border-bottom: $space;
  } @else if $side == 'y-axis' {
    border-right: $space;
    border-left: $space;
  } @else {
    border-#{$side}: $space;
  }
}

@mixin sparkle-border-spacing-side-loop($mq:null) {
  @if $mq {
    $mq: '\\@' + $mq;
  }

  @each $side-key, $side-val in $sides {
    @each $border-key, $border-val in $border-width {
      .#{settings(prefix)}-border-#{$side-val}-#{$border-key}#{$mq} {
        @include sparkle-border-spacing-sides($border-val, $side-key);
      }
    }
  }
}

@mixin sparkle-border-spacing-loop {
  @include sparkle-border-spacing-side-loop(null);
  @each $key, $val in $media-queries {
    @media (min-width: #{$val}) {
      @include sparkle-border-spacing-side-loop($key);
    }
  }
  @if settings('print-classes') {
    @media print {
      @include sparkle-border-spacing-side-loop(print);
    }
  }
}
