@import "../function";
@import "mixins";

@if settings(system-grid) {
  $count: grid(columns);
  @include sparkle-grid-maker($count);

  @if settings(loop-mq) {
    @each $key, $val in $media-queries {
      $mq: '\\@' + $key;
      @media (min-width: #{$val}) {
        @include sparkle-grid-maker($count, $mq);
      }
    }
  }

  @if settings('print-classes') {
    $mq: '\\@print';
    @media print {
      @include sparkle-grid-maker($count, $mq);
    }
  }
}
