/*---
title: Strip Units Function
section: Tools

Removes the unit of number.

```
.test-class {
  prop: strip-units(<number>);
}
```

*/

@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}
