/* ---
title: Unbuttonize Mixin
section: Tools

Removes styles added by default to button elements. For when something should semantically be a button, but isn't buttony in appearance.

**Use**
```scss
.my-class {
  @include unbuttonize;
}
```

**CSS Output**
```css
.my-class {
  background-color: transparent;
  color: inherit;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
}
```

*/

@mixin unbuttonize {
  background-color: transparent;
  color: inherit;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none; // Just in case we missed anything.
}
