@import 'true';

@import 'mixin';
@import '../../tools/settings/function';
@import '../../tools/loop-mq/mixin';

$settings: (
  'prefix': 'util',
  'loop-mq': true
);

$media-queries: (
  'sm': 40rem
);

@include describe('The visually hidden class') {
  @include it('outputs the proper visually hidden classes') {
    @include assert {
      @include output {
        @include sparkle-visually-hidden;
      }
      @include expect {
        .util-visually-hidden {
          position: fixed;
          right: 100%;
          bottom: 100%;
          clip: rect(1px, 1px, 1px, 1px);
          clip-path: inset(50%);

          &:focus {
            left: 0;
            right: auto;
            top: 0;
            bottom: auto;
            clip: auto;
            clip-path: none;
          }
        }

        @media (min-width: 40rem) {
          .util-visually-hidden\@sm {
            position: fixed;
            right: 100%;
            bottom: 100%;
            clip: rect(1px, 1px, 1px, 1px);
            clip-path: inset(50%);

            &:focus {
              left: 0;
              right: auto;
              top: 0;
              bottom: auto;
              clip: auto;
              clip-path: none;
            }
          }
        }
      }
    }
  }
}
