@import 'mixin';

/* ---
title: Visually Hidden Utility
section: Utilities

Use the `#{settings(prefix)}-visually-hidden` to hide content that should be hidden from the page visually, but still accessible to those using keyboard or screen reader controls.

```html
<div class="#{settings(prefix)}-visually-hidden">...</div>
```
*/

@if settings('utility-visually-hidden') {
  @include sparkle-visually-hidden;
}
