@if $sparkle-show-docs {
  /* ---
  title: Font System
  section: Systems
  ---

  Below are the font system functions and utilities.

  ### Font Functions

  The font functions allow you to load the determined value by calling the function, e.g. `size()`, with the key from the corresponding map.

  ```css
  .my-class {
    font-family: family(<key>);
    font-size: size(<key>);
    font-weight: weight(<key>);
  }
  ```
  */
}
