@if $sparkle-show-docs {
  /* ---
  title: Delink Mixin
  section: Tools
  ---

  Removes default link styles.

  **Use**
  ```scss
  .my-class {
    @include delink;
  }
  ```

  **CSS Output**
  ```css
  .my-class {
    color: inherit;
    text-decoration: none;
  }
  ```
  */
}

@mixin delink {
  color: inherit;
  text-decoration: none;
}
