/* ---
title: Print Mixin
section: Tools

Provides two functionalities. The first is to hide the element when printed.

```scss
.my-class {
  @include print(hide);
}
```

The second functionality is to provide custom styles when printed.

```scss
.my-class {
  @include print {
    prop: value;
  }
}
```

*/

@mixin print($state:null) {
  @media print {
    @if $state == hide {
      display: none !important;
    }
    @else {
      @content;
    }
  }
}
