/*---
title: Print Mixin
section: Tools

The print mixin provides two functionalities. The first is to hide the element when printed.

```
@include print(hide);
```

The second functionality is to provide custom styles for when printed.

```
@include print {
  prop: value;
}
```

*/

@mixin print($state:null) {
  @media print {
    @if $state == hide {
      display: none !important;
    }
    @else {
      @content;
    }
  }
}
