/* ---
title: Anti-aliased Utility
section: Utilities
---

Smooths the font on the level of the pixel.

```scss
.#{settings(prefix)}-antialiased
```
*/

.#{settings(prefix)}-antialiased {
  @include antialiased;
}
