<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,shrink-to-fit=no" />
    <title>Sparkle</title>
    <link href="favicon.ico" rel="icon" />
    <link href="{{ site.url }}/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <div class="obj-page">
      <div class="obj-page__header">
        {% include site-header.html %}
      </div>
      <main class="obj-page__content">
        <div class="obj-content">
          <div class="obj-content__content">
            {% include page-content.html %}
          </div>
          <div class="obj-content__nav">
            {% include site-nav.html %}
          </div>
        </div>
      </main>
      <div class="obj-page__footer">
        {% include site-footer.html %}
      </div>
    </div>
  </body>
</html>
