@mixin sparkle-grid-gap {
  @each $key, $value in $spacer {
    .#{settings(prefix)}-gap-#{$key} {
      @include loop-mq {
        grid-gap: $value;
        gap: $value;
      }
    }
  }
  @each $key, $value in $spacer {
    .#{settings(prefix)}-gap-row-#{$key} {
      @include loop-mq {
        grid-row-gap: $value;
        row-gap: $value;
      }
    }
  }

  @each $key, $value in $spacer {
    .#{settings(prefix)}-gap-column-#{$key} {
      @include loop-mq {
        grid-column-gap: $value;
        column-gap: $value;
      }
    }
  }
}
