@import "mixin";

@if settings(utility-flex-shrink) {
  /* ---
  title: Flex Shrink Utility
  section: Utilities
  ---
  <table>
  <thead>
  <tr>
  <th>Class Name</th>
  <th>Property</th>
  </thead>
  <tbody>
  */

  // NOTE: This @for loop is only for document generation
  @for $value from 0 through 2 {
    /* ---
    section: Utilities
    ---
    <tr>
    <td>`.#{settings(prefix)}-flex-shrink-#{$value}`</td>
    <td>`flex-shrink: #{$value}`</td>
    </tr>
    */
  }

  /* ---
  section: Utilities
  ---
  </tbody>
  </table>
  */

  // Load the mixin
  @include sparkle-flex-shrink;
}
