/* ---
title: Clearfix Mixin
section: Tools
---

**Use**
```scss
.my-class {
  @include clearfix;
}
```

**CSS Output**
```css
.my-class::after {
  clear: both;
  content: "";
  display: table;
}
```

*/
@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}
